:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  display: block;
}

/* Estilo general del toolbar */
mat-toolbar {
  background-color: #A788AB;
  height: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contenedor del logo */
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container mat-toolbar {
  margin: 0 !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}
.logo-container .logo {
  border-radius: 60%;
  width: 50px;
  height: 40px;
  margin-right: 10px;
}

/* Botones de navegación */
.nav-button {
  margin-left: 32px;
  color: white;
  font-weight: 600;
  text-transform: none;
  border-radius: 20px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
}
.active-button {
  background-color: white;
  color: black !important;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}
.nav-button .icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.option-icon {
  height: 30px;

  display: block;
}

.option-label {
  font-size: 14px;
  line-height: 1;
}

