:host {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px); /* Ajusta si tu header es más alto o más bajo */
}

mat-sidenav-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f3eef9;
  margin-top: 64px;
}

mat-sidenav-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Contenedor general de las notificaciones */
.notifications-container {
  flex: 1;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #5b3573;
}

.notification-card {
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.icon-avatar {
  background-color: #e0d4f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-data {
  text-align: center;
  color: #999;
  margin-top: 50px;
  font-size: 16px;
}

.highlighted-notification {
  border-left: 5px solid #5b3573;
  background-color: #f9f5ff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(91, 53, 115, 0.1);
}

.appointment-details {
  font-size: 14px;
  margin-top: 8px;
  color: #444;
}

.appointment-details span {
  display: block;
  margin-bottom: 4px;
}
